---
page_title: "Provider: TOML"
description: |-
  The TOML provider is used to read TOML files.
---

# TOML Provider

The TOML provider allows you to read TOML files.

This provider requires no configuration.

{{- /* No schema in this provider, so no need for this: .SchemaMarkdown | trimspace */ -}}
